/* TODO: Make it awesome */

body{

  background-color: #E6AF2E;
  margin: 30px;
  
}

header h1, 
header nav{ 
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: auto;
}

header ul li{
  
  display: inline-block;
  padding: 20px;
  margin: 0px 50px 0px 50px;
  font-size: 25px;
  
}

body header h1{
  font-size: 100px;
}

main section header h1{
  font-size: 50px;
}

main{
  border: 1px solid #3D348B;
  text-align: center;
  background-color: #E0E2DB;
}
